/* Login section */
body.login-page {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9f5f9;
    margin: 0;
}
.logincontainer {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.logincontainer h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
}
.logincontainer form {
    display: flex;
    flex-direction: column;
}
.logincontainer label {
    font-size: 14px;
    color: #555;
    text-align: left;
}

.logincontainer input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    transition: border 0.3s ease;
    box-sizing: border-box;
}

.logincontainer input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
}

.logincontainer input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logincontainer input[type="submit"]:hover {
    background-color: #45a049;
}

.logincontainer a.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.logincontainer a.btn:hover {
    background-color: #0056b3;
}

.logincontainer a {
    text-align: center;
    color: #007BFF;
    font-size: 14px;
    text-decoration: none;
}

.logincontainer a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 30px;
        max-width: 95%;
    }
}
